<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners>
	<listener class-name="com.demoOrg.VehInsCalc.Utilities.ListenersImplementation" />
</listeners>
  <test name="UI Tests - Chrome">
    <classes>
      <class name="uiTests.CalculateVehicleInsurance"/>      
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
